html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
  background-color: rgb(159, 159, 133);
}

body {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  overflow: hidden;
}


